<!DOCTYPE html>
<html>
  <head>
    ...
  </head>
  <body>
     <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="index.html"><img src="" alt="Logo" srcset=""></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">LOGI-REPORT</li>

                        <li class="sidebar-item active ">
                            <a href="index.html" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-stack"></i>
                                <span>OPERATIONS</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="component-alert.html">Operations Journalières</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="component-badge.html">Enregistrer</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="component-breadcrumb.html">Importer Fichier Excel</a>
                                </li>
                              
                            </ul>
                        </li>
                        <li class="sidebar-item  ">
                            <a href="table.html" class='sidebar-link'>
                                <i class="bi bi-grid-1x2-fill"></i>
                                <span>Operateur</span>
                            </a>
                        </li>

                        <li class="sidebar-item  ">
                            <a href="table.html" class='sidebar-link'>
                                <i class="bi bi-grid-1x2-fill"></i>
                                <span>Reseaux de transfert</span>
                            </a>
                        </li>
                         <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-stack"></i>
                                <span>CAISSE</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="component-alert.html">Ouverture de caisse</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="component-badge.html">Fermeture de caisse</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="component-breadcrumb.html">Clôture de la journée</a>
                                </li>
                              
                            </ul>
                        </li>
                          <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-stack"></i>
                                <span>EMPLOYE</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="component-alert.html">Rôle</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="component-badge.html">Utilisateur</a>
                                </li>
                               
                              
                            </ul>
                        </li>
                         <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-stack"></i>
                                <span>SOUS AGENT</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="component-alert.html">Operateur</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="component-badge.html">Contrat</a>
                                </li>
                               
                              
                            </ul>
                        </li>
                         <li class="sidebar-item  ">
                            <a href="table.html" class='sidebar-link'>
                                <i class="bi bi-grid-1x2-fill"></i>
                                <span>Reseaux de transfert</span>
                            </a>
                        </li>
                          <li class="sidebar-item  ">
                            <a href="table.html" class='sidebar-link'>
                                <i class="bi bi-grid-1x2-fill"></i>
                                <span>Opérations</span>
                            </a>
                        </li>
                         <li class="sidebar-item  ">
                            <a href="table.html" class='sidebar-link'>
                                <i class="bi bi-grid-1x2-fill"></i>
                                <span>Commissions</span>
                            </a>
                        </li>
                         <li class="sidebar-item  ">
                            <a href="table.html" class='sidebar-link'>
                                <i class="bi bi-grid-1x2-fill"></i>
                                <span>Compenses</span>
                            </a>
                        </li>
                         <li class="sidebar-item  ">
                            <a href="table.html" class='sidebar-link'>
                                <i class="bi bi-grid-1x2-fill"></i>
                                <span>Reporting</span>
                            </a>
                        </li>
                       
                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
  </body>
</html>